<mat-toolbar color="primary">
  <span><a routerLink="" id="appTitle">Roster Management Tool</a></span> <!--This have to point to home page or login screen -->
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated && !adminLogged">
      <a mat-button routerLink="rotas-view" routerLinkActive="mat-accent">View rosters</a>
    </li>
    <li *ngIf="userIsAuthenticated && adminLogged">
      <button mat-button [matMenuTriggerFor]="rota">Rota</button>
      <mat-menu #rota="matMenu">
        <button mat-menu-item routerLink="rota-create">Create rosters</button>
        <button mat-menu-item routerLink="rota-list">View rosters</button>
      </mat-menu>
    </li>
    <li *ngIf="userIsAuthenticated && adminLogged">
      <button mat-button [matMenuTriggerFor]="shifts">Shifts</button>
      <mat-menu #shifts="matMenu">
        <button mat-menu-item routerLink="shift-create">Create shift</button>
        <button mat-menu-item routerLink="shift-list">List shifts</button>
      </mat-menu>
    </li>
    <li *ngIf="userIsAuthenticated && adminLogged">
      <button mat-button [matMenuTriggerFor]="users">Users</button>
      <mat-menu #users="matMenu">
        <button mat-menu-item routerLink="user-create">Create user</button>
        <button mat-menu-item routerLink="user-list">Users list</button>
      </mat-menu>
    </li>
    <li *ngIf="userIsAuthenticated && adminLogged">
      <button mat-button [matMenuTriggerFor]="branch">Branch</button>
      <mat-menu #branch="matMenu">
        <button mat-menu-item routerLink="branch-create">Add a branch</button>
        <button mat-menu-item routerLink="branch-list">Branches list</button>
      </mat-menu>
    </li>
    <li *ngIf="userIsAuthenticated && !adminLogged">
      <button mat-button routerLink="requests">Requests</button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button routerLink="homepage">Homepage</button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
