<mat-card>
  <form (submit)="onAddBranch(branchForm)" #branchForm="ngForm">
    <mat-form-field>
      <input
        matInput
        ngModel
        name="branchName"
        type="text"
        required
        #branchName="ngModel"
        placeholder="Branch name">
      <mat-error *ngIf="branchName.invalid">Please enter a valid branch name</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save branch</button>
  </form>
</mat-card>
