<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveBranch(branchForm)" #branchForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        [ngModel]="branch?.branchName"
        name="branchName"
        type="text"
        required
        #branchName="ngModel"
        placeholder="Branch name">
      <mat-error *ngIf="branchName.invalid">Please enter a valid branch name</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save branch</button>
  </form>
</mat-card>
<p id="confirmation">{{ message }}</p>

