.mat-elevation-z8 {
  width: 100%
}

.mat-button {
  margin-top: 1rem;
  left: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
