.mat-elevation-z8 {
  width: 100%
}

.mat-button {
  margin-top: 1rem;
  left: 80%;
}

#filter {
  margin-top: -2rem;
  left: 0;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#errorMessage {
  color: red;
  font-weight: bold;
  font-size: larger;
  margin-left: 2rem;
}
