<h1>Rotas view page</h1>
<p>View rotas from: <span>
<mat-form-field class="example-full-width" color="accent">
  <input
    matInput
    [matDatepickerFilter]="mondayFilter"
    [matDatepicker]="picker"
    placeholder="Choose a date"
    [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
   To:
<mat-form-field class="example-full-width" color="accent">
  <input
    matInput
    [matDatepickerFilter]="sundayFilter"
    [matDatepicker]="picker2"
    placeholder="Choose a date"
    [formControl]="endDate"
    [min]="date.value">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
</span>
  <button id="filter" color="primary" mat-button (click)="dateRange(date.value, endDate.value)">Apply filter</button>
  <span id="errorMessage">{{ message }}</span>
</p>
<mat-tab-group>
  <mat-tab *ngFor="let branchList of rotas; let i = index" [label]="branchList.branch">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let week of rotas[i].weeklyRota; let j = index">
        <mat-expansion-panel-header>
          {{ week.startDate }}
        </mat-expansion-panel-header>
        <table class="mat-elevation-z8">
          <tr>
            <th>Employee name</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
          <tr *ngFor="let user of rotas[i].weeklyRota[j].userRoster[0].employeeName; let k = index">
            <td>{{ findUserName(user) }}</td>
            <td *ngFor="let shift of rotas[i].weeklyRota[j].userRoster[0].shifts[0][k]"> {{shift}}</td>
          </tr>
        </table>
        <button class="mat-button" color="primary" mat-button [routerLink]="['/rota-edit', week.id]">EDIT</button>
        <button class="mat-button" mat-button color="warn" (click)="onDelete(week.id)">DELETE</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
