:host {
  margin-top: 1rem;
  display: block;
}
table {
  width: 100%;
}
table, th, td {
  /*border: 1px solid black;*/
  border-collapse: collapse;
}
/*table tr:nth-child(even) {*/
  /*background-color: #eee;*/
/*}*/
/*table tr:nth-child(odd) {*/
  /*background-color: #fff;*/
/*}*/
table th {
  color: white;
  background-color: black;
}
th, td {
  margin: 3rem;
}

tr:hover {
  background-color: #f5f5f5;
}

.no-shifts {
  text-align: center;
}

.buttons {
  margin-right: -3.5rem;
}
