<mat-accordion *ngIf="users.length > 0">
  <div>
    <table>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email address</th>
        <th>Telephone no.</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.telephone }}</td>
        <td><button class="buttons" color="primary" mat-button>EDIT</button></td>
        <td><button class="buttons" mat-button color="warn">DELETE</button></td>
      </tr>
    </table>

  </div>
</mat-accordion>
<p class="no-shifts" *ngIf="users.length <= 0">No users added!</p>
