<h1>Work in progress</h1>
<h2>Legend</h2>
<div *ngFor="let shift of shifts">
  <p><strong>{{ shift.name }}</strong>: From {{ shift.start }} to {{ shift.end }}</p>
</div>
<mat-card>
  <form [formGroup]="form" (submit)="onSaveRota()">
    <mat-form-field >
      <mat-select placeholder="Select a branch" formControlName="branchName">
        <mat-option *ngFor="let branch of branches" [value]="branch" >
          {{branch.branchName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('branchName')">Please choose a branch</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="How many employees" formControlName="employeesNumber" [(value)]="selectedValue" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let number of employees" [value]="number" (click)="employeesPerBranch(number)" >
          {{number}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('employeesNumber')">Please select a number</mat-error>
    </mat-form-field>
    <table *ngIf="totalEmployees.length > 0">
      <tr *ngFor="let emp of totalEmployees; let i = index">
        <mat-form-field>
          <mat-select placeholder="Select an employee" [formControlName]="userName + i">
            <mat-option *ngFor="let user of users" [value]="user.firstName">
              <td>
                {{user.firstName + " " + user.lastName }}
              </td>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('userName' + i).invalid">Required field</mat-error>
        </mat-form-field>
        <mat-form-field *ngFor="let control of controlShift; let y = index">
          <mat-select placeholder="Select a shift" [formControlName]="controlShift[y] + i + y">
            <mat-option *ngFor="let shift of shifts" [value]="shift.name">
              <td>
                {{ shift.name }}
              </td>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get(controlShift[y] + i + y).invalid">Required field</mat-error>
        </mat-form-field>
      </tr>
    </table>
    <button mat-raised-button color="accent" type="submit">Save rota</button>
  </form>
</mat-card>
