<mat-card>
  <form (submit)="onAddUser(userForm)" #userForm="ngForm">
    <mat-form-field>
    <input
      matInput
      ngModel
      name="firstName"
      type="text"
      required
      minlength="2"
      #firstName="ngModel"
      placeholder="First name">
      <mat-error *ngIf="firstName.invalid">Please enter a valid first name</mat-error>
    </mat-form-field>
    <mat-form-field>
    <input
      matInput
      ngModel
      name="lastName"
      type="text"
      required
      minlength="2"
      #lastName="ngModel"
      placeholder="Last name">
      <mat-error *ngIf="lastName.invalid">Please enter a valid last name</mat-error>
    </mat-form-field>
    <mat-form-field>
    <input
      matInput
      ngModel
      name="email"
      type="text"
      required
      #email="ngModel"
      placeholder="Email address">
      <mat-error *ngIf="email.invalid">Please enter a valid email address</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        ngModel
        name="telephone"
        type="number"
        required
        #telephone="ngModel"
        placeholder="Telephone number">
      <mat-error *ngIf="telephone.invalid">Please enter a valid telephone number</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save user</button>
  </form>
</mat-card>
