td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#user, td {
  border: none;
}

form {
  margin-top: 2rem;
}


.calendar {
  padding: 1rem;
}

.confirmation {
  color: darkgreen;
  font-weight: bold;
}

.errorMsg {
  padding: 1.5rem;
  font-weight: bold;
  color: red;
}
