<h1>Homepage - Notification centre</h1>
<button
  mat-button
  class="sendMsg"
  *ngIf="isAdmin"
  routerLink="send-message">Send a message</button>
<div *ngIf="messages.length > 0">
  <h2>Messages listed below</h2>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-paginator
    [length]="totalMessages"
    [pageSize]="messagesPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"></mat-paginator>
  <mat-accordion>
    <mat-card *ngFor="let message of messages">
      <p><strong>Sender:</strong> {{ message.sender }}</p>
      <p><strong>Message:</strong> {{ message.message }}</p>
      <div>
        <button
          class="buttons"
          mat-button color="warn"
          (click)="onDelete(message.id)">DELETE</button>
        <button
          class="buttons"
          mat-button color="primary"
          (click)="acceptSwap(message)"
          *ngIf="message.isSwap && !isAdmin">Accept swap</button>
      </div>
    </mat-card>
  </mat-accordion>
</div>
<p *ngIf="messages.length === 0">There are no messages in the inbox!</p>
