td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#errorMessage {
  color: red;
  font-weight: bold;
  font-size: larger;
  margin-left: 2rem;
}

mat-spinner {
  margin: auto;
}
